* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: linear-gradient(
    to bottom right,
    rgb(44, 33, 44),
    rgb(27, 18, 27)
  );
  color: floralwhite;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: floralwhite;
  padding: 35px 100px 0;
}

header nav {
  display: flex;
}

header nav li {
  margin: 0 15px;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}

@media (max-width: 1000px) {
  header {
    padding: 20px 50px;
  }
}

/* mobile display formatting */
@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  header h2 {
    margin-bottom: 15px;
  }
  header nav li {
    margin: 0 7px;
  }
}
.container {
  position: relative;
  display: flex;
  padding: 110px 25px;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.square:hover {
  background-color: goldenrod;
  cursor: pointer;
}
.square {
  width: 450px;
  height: 450px;
  background-color: teal;
  box-shadow: 10px 5px 5px rgb(83, 78, 78);
  transition: all 0.5s ease;
}

.profile {
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  border-bottom: 5px solid teal;
}
.profile > h3 {
  width: 25%;
}
.profile > img {
  order: 0;
  width: 50%;
}

.profile > p {
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}

.portfolio {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 1em;
}

/* TODO: Banner area
section {
  display: flex;
  flex:1;
  flex-direction: column;
  align-items: center;
  padding: 110px 100px;
  border: 5px solid #000;
}

@media (max-width:1000px) {
  section {
    padding: 100px 50px;
  }
}
@media (max-width:600px) {
  section {
    padding: 125px 30px;
  }

p {
  max-width: 200px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}

section > h1 {
  order: 1;
}

p.profile {
  order: 0;
  text-transform: uppercase;
  background-color: teal;
  width: 50%;
} */
